// Imports
@import "base";

//
// Custom style
//

// Header
#logo {
  margin-top: 5px;
  max-width: 29px;
  padding-left: 10px;

  @media (min-width: 480px) {
    margin-top: 5px;
    padding-left: none;
    max-width: none;
  }
}

#site-name {
  font-size: 35px;

  @media (max-width: 768px) and (min-width: 481px) {
    font-size: 25px;
  }
}

.node-content{
	h1 {font-size: 32px;}
	h2 {font-size: 24px;}
	h3 {font-size: 18px;}

	h1, h2, h3 {
		line-height: 1.69em;
		margin: .3em 0 .6em 0;
	}
}

// Styling for listing av brukere 
.view-user-list	.item-list ul {
  text-align: center;
  
   li {
	  display: inline;
	  height: 104px;
	  line-height: 50px;
	  list-style: none outside none;
	  margin: 0.6em;
	  padding: 0;
  }
}